## Austin Animal Center Data Analysis

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
animal = pd.read_csv('austin-animal-center-intakes-1.csv')

In [3]:
animal.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A748291,*Madison,05/01/2017 02:26:00 PM,05/01/2017 02:26:00 PM,S Pleasant Valley Rd And E Riverside Dr in Aus...,Stray,Normal,Dog,Intact Female,10 months,Pit Bull Mix,Black
1,A750529,NaN,05/28/2017 01:22:00 PM,05/28/2017 01:22:00 PM,8312 North Ih 35 in Austin (TX),Stray,Normal,Dog,Intact Female,5 months,Miniature Schnauzer Mix,White/Cream
2,A730601,NaN,07/07/2016 12:11:00 PM,07/07/2016 12:11:00 PM,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,7 months,Domestic Shorthair Mix,Blue Tabby
3,A748238,NaN,05/01/2017 10:53:00 AM,05/01/2017 10:53:00 AM,Airport Blvd And Oak Springs Dr in Austin (TX),Stray,Normal,Dog,Intact Male,3 years,Bichon Frise Mix,White
4,A683644,*Zoey,07/13/2014 11:02:00 AM,07/13/2014 11:02:00 AM,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,4 weeks,Border Collie Mix,Brown/White

In [4]:
animal_cut = animal.sample(1000)

In [5]:
animal_cut.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 72627 to 49052
Data columns (total 12 columns):
Animal ID           1000 non-null object
Name                690 non-null object
DateTime            1000 non-null object
MonthYear           1000 non-null object
Found Location      1000 non-null object
Intake Type         1000 non-null object
Intake Condition    1000 non-null object
Animal Type         1000 non-null object
Sex upon Intake     1000 non-null object
Age upon Intake     1000 non-null object
Breed               1000 non-null object
Color               1000 non-null object
dtypes: object(12)
memory usage: 101.6+ KB

In [6]:
count = 0
for index, i in enumerate(animal_cut['Age upon Intake']):
    split_i = i.split(' ')
    if split_i[1] == 'years' or split_i[1] == 'year':
        weeks = int(split_i[0]) * 48
    elif split_i[1] == 'months'or split_i[1] == 'month':
        weeks = int(split_i[0]) * 4
    elif split_i[1] == 'weeks' or split_i[1] == 'week':
        weeks = int(split_i[0])
    elif split_i[1] == 'day' or split_i[1] == 'days':
        weeks = int(split_i[0]) / 4
    else:
        count += 1
    animal_cut['Age upon Intake'].iloc[index] = weeks
animal_basic = animal

In [7]:
animal_cut = animal_cut.drop(['Animal ID', 'Name', 'MonthYear', 'DateTime', 'Found Location'], axis = 1)

In [13]:
animal_cut.head(10)

,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
72627,Stray,Normal,Cat,Intact Female,3,Domestic Shorthair Mix,Brown Tabby/White
64638,Stray,Normal,Cat,Unknown,2,Domestic Shorthair Mix,Brown Tabby
13489,Stray,Normal,Cat,Intact Male,12,Domestic Shorthair Mix,Blue
7135,Stray,Normal,Cat,Intact Male,4,Domestic Shorthair Mix,Black
19886,Stray,Normal,Dog,Spayed Female,240,Australian Cattle Dog Mix,Tricolor
69796,Stray,Normal,Dog,Intact Female,192,Pit Bull/Labrador Retriever,White/Brown Brindle
59862,Owner Surrender,Normal,Dog,Intact Male,48,Dachshund Mix,Black/White
34129,Public Assist,Normal,Dog,Spayed Female,96,Pit Bull Mix,Chocolate/White
57787,Stray,Normal,Cat,Intact Female,48,Siamese Mix,White/Black
65943,Stray,Normal,Cat,Intact Male,3,Domestic Shorthair Mix,Blue Tabby

In [12]:
animal_cut['Animal Type'].value_counts()

Dog      562
Cat      381
Other     52
Bird       5
Name: Animal Type, dtype: int64