## Machine Learning 2

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

animal_data = pd.read_csv('data_onehot_new.csv')
animal_data = animal_data.drop(['Unnamed: 0'], axis = 1)
animal_data.head()

animal_data.info()

animal_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132921 entries, 0 to 132920
Data columns (total 16 columns):
weight     132921 non-null float64
hapM       132921 non-null float64
age        132921 non-null float64
neuterN    132921 non-null float64
neuterU    132921 non-null float64
neuterY    132921 non-null float64
dog        132921 non-null float64
cat        132921 non-null float64
kindETC    132921 non-null float64
protect    132921 non-null float64
return     132921 non-null float64
death_E    132921 non-null float64
adopt      132921 non-null float64
death_N    132921 non-null float64
items      132921 non-null float64
bad        132921 non-null float64
dtypes: float64(16)
memory usage: 16.2 MB

,weight,hapM,age,neuterN,neuterU,neuterY,dog,cat,kindETC,protect,return,death_E,adopt,death_N,items,bad
count,132921.000000,132921.000000,132921.000000,132921.000000,132921.000000,132921.000000,132921.000000,132921.000000,132921.000000,132921.000000,132921.000000,132921.000000,132921.000000,132921.000000,132921.000000,132921.000000
mean,5.480041,5.778733,2.782171,0.609934,0.333649,0.056417,0.736550,0.252090,0.011360,0.064286,0.144838,0.193340,0.311087,0.257145,0.150322,0.360161
std,10.257781,3.151417,2.696216,0.487767,0.471518,0.230726,0.440506,0.434214,0.105977,0.245263,0.351939,0.394919,0.462940,0.437062,0.357388,0.480049
min,0.010000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.700000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.500000,5.000000,2.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6.000000,8.000000,4.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000
max,1935.000000,12.000000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [2]:
animal_data.head()

,weight,hapM,age,neuterN,neuterU,neuterY,dog,cat,kindETC,protect,return,death_E,adopt,death_N,items,bad
0,0.9,7.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,4.2,7.0,3.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.3,6.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,3.0,6.0,6.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,5.0,3.0,6.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0