## Dictionary_Tuple_Set

### 20180723
### Sungjae Lee

### Tuple

In [8]:
# Ex1

myTuple = ("tuple", (1, 2, 3), [4, 5, 6])

# 'tuple'을 출력하시오

print(myTuple)

# 3을 출력하세요

print(myTuple[1][2])

# 4, 5를 출력하세요

print(myTuple[2][0:2])

# 4를 출력하세요

print(myTuple[2][0])

# (1, 2, 3)을 출력하세요

print(myTuple[1])

('tuple', (1, 2, 3), [4, 5, 6])
3
[4, 5]
4
(1, 2, 3)

In [19]:
# Ex2

my_tuple = (1, 2, 3, 3, 2, 1)
your_tuple = (4, 5, 6)

# 튜플 연산
# my_tuple과 your_tuple을 연결하세요

print(my_tuple + your_tuple)

# mytuple을 3번 반복하세요

print(my_tuple*3)

# mytuple에 3이 있는지 확인하세요

print(3 in my_tuple)

# mytuple에 5가 있는지 확인하세요

print(5 in my_tuple)

# mytuple에서 1의 갯수를 출력하세요

print(my_tuple.count(1))

# mytuple에서 index 2자리의 값을 출력하세요

print(my_tuple[2])

(1, 2, 3, 3, 2, 1, 4, 5, 6)
(1, 2, 3, 3, 2, 1, 1, 2, 3, 3, 2, 1, 1, 2, 3, 3, 2, 1)
True
False
2
3

In [8]:
# Ex3

t_float = (120.09, 9.11, 2.8)
L_int = [1, 2, 3]

# t_float의 길이를 출력하세요

print(len(t_float))

# t_float의 최대값을 출력하세요

print(max(t_float))

# t_float의 최소값을 출력하세요

print(min(t_float))

# t_float의 합을 출력하세요.

print(sum(t_float))

# t_float의 평균을 출력하세요.

print(sum(t_float)/len(t_float))

# t_float를 오름차순 정렬하세요

print(sorted(t_float))

3
120.09
2.8
132.0
44.0
[2.8, 9.11, 120.09]

### Set

In [10]:
# Ex1

# my_set이라는 빈 집합을 만들고 타입을 출력하세요..
my_set = type(set)
print(type(my_set))

<class 'type'>

In [43]:
# Ex2

# 'sky'와 'sea'를 요소로 하는 set을 만드세요
# 'earth' 요소를 추가하세요
# ('1', '2') 요소를 추가하세요
# 무작위로 요소 하나를 삭제하세요

my_set = {'sky', 'sea'}
my_set.add('earth')
my_set.add(('1', '2'))

my_set.pop()
print(my_set)

{'earth', 'sea', ('1', '2')}

In [53]:
# Ex3

s_planet = {'수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성'}
print(s_planet)

# '금성' 을 삭제하세요
# 위와 다른 함수를 사용해서 '천왕성'을 삭제하세요
# 모든 항목을 지우세요

s_planet.remove('금성')
print(s_planet)

s_planet.discard('천왕성')
print(s_planet)

s_planet.clear()
print(s_planet)

{'토성', '천왕성', '해왕성', '목성', '화성', '금성', '수성', '지구'}
{'토성', '천왕성', '해왕성', '목성', '화성', '수성', '지구'}
{'토성', '해왕성', '목성', '화성', '수성', '지구'}
set()

In [65]:
# Ex4

A = {1, 2, 3, 4, 5, 6}
B = {1, 2, 3, 7, 8, 9}

# 합집합을 구하세요

print(A | B)

# 교집합을 구하세요

print(A & B)

# 차집합을 구하세요

print(A - B)

# 대칭차집합을 구하세요

print(A ^ B)

# 부분집합
# {4, 5, 6}가 A의 부분집합인지 확인하세요
# A가 {4, 5, 6}을 포함하는지 확인하세요

print({4, 5, 6} <= A)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{4, 5, 6}
{4, 5, 6, 7, 8, 9}
True

In [ ]:
# Ex5

s_float = {1.0, 3.0, 2.0, 10.0}
print(s_float)
print()

# s_float의 길이를 구하세요
# s_float를 올림차순 정렬하세요
# s_float에 2.0이 포함되는지 확인하세요

### Dictionary

In [ ]:
# Ex1

solar1 = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solar2 = ['Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
solardict = {}

# 아래와 같이 출력되도록 코딩하세요.
# for문을 사용하세요.
# 
# {'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', 
#  '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Neptune'}

In [ ]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}

# Aimy의 value를 10000으로 수정하세요

In [ ]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}

# 'Sams'를 삭제하세요
# value 값들의 합을 구하세요
# value 값들의 최대값을 구하세요
# key값들을 출력하세요
# value값들을 출력하세요
# 모든 요소를 삭제하세요

In [72]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}

# 이름을 입력받고, 이름의 값을 출력하도록 코딩하세요

name = input('이름을 입력하세요: ')
if name in names:
    print('이름이 {}인 출생아 수는 {}명 입니다.'.format(name, names[name]))
else:
    print('자료에 {}인 이름이 존재하지 않습니다.'.format(name))

이름을 입력하세요: Mary
이름이 Mary인 출생아 수는 10999명 입니다.

In [85]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}

# key를 기준으로 올림차순 정렬하세요

print(sorted(names.items()))

# value를 기준으로 정렬

print(sorted(names.items(), key = lambda x:x[1]))

[('Aimy', 9778), ('Bob', 5887), ('Kelly', 7855), ('Mary', 10999), ('Michale', 27115), ('Sams', 2111), ('Tom', 20245)]
[('Sams', 2111), ('Bob', 5887), ('Kelly', 7855), ('Aimy', 9778), ('Mary', 10999), ('Tom', 20245), ('Michale', 27115)]

In [78]:
my_idol = {"name": "쯔위", "age": 18, "job": "singer"}

# age의 값을 출력하시오

print(my_idol['age'])

# job의 값을 출력하시오

print(my_idol['job'])

# name의 값을 '수지'로 수정하시오

my_idol['name'] = '수지'
print(my_idol)

# 'birth' 의 값을 '1994-07-07'로 추가하시오

my_idol['birth'] = '1994-07-07'

# 'manager'의 값을 'JYP'로 추가하시오

my_idol['manager'] = 'JYP'

print(my_idol)

18
singer
{'name': '수지', 'age': 18, 'job': 'singer'}
{'name': '수지', 'age': 18, 'job': 'singer', 'birth': '1994-07-07', 'manager': 'JYP'}

In [96]:
my_idol = {'job': 'singer', 'age': 18, 'name': '수지', 'birth': '1994-10-10'}
print(my_idol)

# 'birth' 항목 가져오고 삭제하기

print(my_idol['birth'])
del my_idol['birth']
print(my_idol)

# 'age' 항목 삭제하기

del my_idol['age']
print(my_idol)

# 임의의 항목 가져오면서 삭제하기

my_idol.popitem()
print(my_idol)

# 사전 비우기

my_idol.clear()

# my_idol 사전 삭제하기

del my_idol

{'job': 'singer', 'age': 18, 'name': '수지', 'birth': '1994-10-10'}
1994-10-10
{'job': 'singer', 'age': 18, 'name': '수지'}
{'job': 'singer', 'name': '수지'}
{'job': 'singer'}