## Python List Test

### 20180723
### Sungjae Lee

In [9]:
# Ex1

# range() 함수를 사용.
# [0 ,1 , 2, 3, 4, 5, 6, 7, 8, 9]가 출력됨
# [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]가 출력됨

print(list(range(0, 10)))
print(list(range(10, 20)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [16]:
# Ex2

listdata = [1, 2, 'a', 'b', 'c', [4, 5, 6], '가', '나']
# 2가 출력됨
# ‘b’가 출력됨
# 5가 출력됨
# 맨 마지막 원소가 추출됨
# 홀수 번 자리 요소만 추출
    
print(listdata[1])
print(listdata[3])
print(listdata[5][1])
print(listdata[-1])
print(listdata[::2])

2
b
5
나
[1, 'a', 'c', '가']

In [20]:
# Ex3

solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '지구']
solarsys1 = ['토성', '천왕성', '해왕성']

# 행성의 이름을 입력받는다
# format()함수를 이용해서
# "__은 태양계에서 __번째 위치하고 있습니다." 를 출력

solarsys_name = input('행성의 이름을 입력하세요: ')
solarsys_nth = solarsys.index(solarsys_name) + 1
print('{}은 태양계에서 {}번째에 위치하고 있습니다.'.format(solarsys_name, solarsys_nth))

행성의 이름을 입력하세요: 수성
수성은 태양계에서 2번째에 위치하고 있습니다.

In [24]:
# Ex4

solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '지구']
solarsys1 = ['토성', '천왕성', '해왕성']
planet = '지구'

In [25]:
# 1. solarsys 에서 ['수성', '금성', '지구'] 를 출력

print(solarsys[1:4])

['수성', '금성', '지구']

In [26]:
# 2. solarsys에서 '지구'의 위치값 출력

print(solarsys.index('지구'))

3

In [27]:
# 3. solarsys에서 '화성'을 '해왕성'으로 수정

solarsys[solarsys.index('화성')] = '해왕성'
print(solarsys)

['태양', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [28]:
# 4. solarsys에서 '수성' 자리에 '명왕성'을 삽입

solarsys.insert(solarsys.index('수성'), '명왕성')
print(solarsys)

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [29]:
# 5. solarsys에 '토성'을 맨 끝에 첨가

solarsys.append('토성')
print(solarsys)

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구', '토성']

In [30]:
# 6. solarsys에 맨 끝 요소를 제거하고 리턴

solarsys.pop()
print(solarsys)

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [31]:
# 7. solarsys에서 '금성'을 제거

solarsys.remove('금성')
print(solarsys)

['태양', '명왕성', '수성', '지구', '해왕성', '목성', '지구']

In [32]:
# 8. solarsys에서 1번째에서 3번째까지 삭제

del solarsys[1:4]
print(solarsys)

['태양', '해왕성', '목성', '지구']

In [33]:
# 9. solarsys에서 인덱스값 2번 요소를 삭제

del solarsys[2]
print(solarsys)

['태양', '해왕성', '지구']

In [34]:
# 10.solarsys와 solarsys1을 합하시요.

print(solarsys + solarsys1)

['태양', '해왕성', '지구', '토성', '천왕성', '해왕성']

In [35]:
# 11. solarsys를 오름차순으로 정력하세요.

solarsys.sort()
print(solarsys)

['지구', '태양', '해왕성']

In [36]:
# 12. solarsys를 내림차순으로 정렬하세요.

solarsys.sort(reverse = True)
print(solarsys)

['해왕성', '태양', '지구']

In [45]:
# 13. solarsys의 원소의 순서를 바꾸세요.

print(solarsys)
solarsys.reverse()
print(solarsys)

['해왕성', '태양', '지구']
['지구', '태양', '해왕성']

In [38]:
# 14. solarsys에 '만리장성'이 있는지 확인하세요.

print('만리장성' in solarsys)

False

In [39]:
# 15. solarsys를 3번 반복하세요.

print(solarsys*3)

['지구', '태양', '해왕성', '지구', '태양', '해왕성', '지구', '태양', '해왕성']

In [40]:
# 16. solarsys의 길이를 리턴하세요.

print(len(solarsys))

3

In [41]:
# 17. solarsys에서 '지구'의 갯수를 출력하세요.

print(solarsys.count('지구'))

1

In [46]:
# 18. solarsys의 요소 순서을 역순으로 하시오.
print(solarsys)
solarsys.reverse()
print(solarsys)

['지구', '태양', '해왕성']
['해왕성', '태양', '지구']

In [47]:
# 19. solarsys의 모든 원소를 지우세요.

solarsys.clear()
print(solarsys)

[]

In [48]:
# 20. solarsys 리스트를 삭제하세요.

del solarsys