## Tensorflow Softmax

In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [14]:
animal_data = pd.read_csv('animal_data_tf.csv')
animal_data = animal_data.drop('Unnamed: 0', axis = 1)
animal_data.head()

,weight,hapM,age,neuterN,neuterU,neuterY,dog,cat,kindETC,items,bad,state
0,0.9,7.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,AD
1,0.3,6.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,ND
2,3.0,6.0,6.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,RE
3,5.0,3.0,6.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,AD
4,3.5,7.0,3.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,RE

In [15]:
animal_data['state'].value_counts()

AD    41350
ND    34180
ED    25699
RE    19252
Name: state, dtype: int64

In [16]:
def change(x):
    if x == 'AD':
        return 0
    elif x == 'ND':
        return 1
    elif x == 'ED':
        return 2
    else:
        return 3

In [18]:
animal_data['newState'] = animal_data['state'].apply(change)

In [19]:
animal_data.head()

,weight,hapM,age,neuterN,neuterU,neuterY,dog,cat,kindETC,items,bad,state,newState
0,0.9,7.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,AD,0
1,0.3,6.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,ND,1
2,3.0,6.0,6.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,RE,3
3,5.0,3.0,6.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,AD,0
4,3.5,7.0,3.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,RE,3

In [20]:
animal_data = animal_data.drop(['state'], axis = 1)
animal_data.to_csv('animal_for_tf.csv')