## Pandas Salary Analytics
## 20180726
## Sungjae Lee

** Import pandas as pd.**

In [175]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

** Read Salaries2.csv as a dataframe called sal.**

In [176]:
sal = pd.read_csv('Salaries2.csv')

** Check the head of the DataFrame. **

In [177]:
sal.head()

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [9]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90000 entries, 0 to 89999
Data columns (total 13 columns):
Id                  90000 non-null int64
EmployeeName        90000 non-null object
JobTitle            90000 non-null object
BasePay             89997 non-null float64
OvertimePay         90000 non-null float64
OtherPay            90000 non-null float64
Benefits            53841 non-null float64
TotalPay            90000 non-null float64
TotalPayBenefits    90000 non-null float64
Year                90000 non-null int64
Notes               0 non-null float64
Agency              90000 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 8.9+ MB

**What is the average BasePay ?**

In [178]:
sal['BasePay'].mean()

72544.57047613862

** What is the highest amount of OvertimePay in the dataset ? **

In [179]:
sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [21]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [25]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [184]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [195]:
sal.loc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']
sal.iloc[sal['TotalPayBenefits'].idxmax()][2]
sal.sort_values('TotalPayBenefits', ascending = False).iloc[0].iloc[2]

'NATHANIEL FORD'

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [188]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()].head(1)

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
36156,36156,36157,PAULETTE ADAMS,"STATIONARY ENGINEER, WATER TREATMENT PLANT",0.0,0.0,0.0,NaN,0.0,0.0,2011,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [46]:
sal.groupby(['Year'])['BasePay'].mean()

Year
2011     63595.956517
2012     65436.406857
2013    106806.032271
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [199]:
len(sal['JobTitle'].unique())
sal['JobTitle'].nunique()
len(sal['JobTitle'].value_counts())

2107

** What are the top 5 most common jobs? **

In [66]:
sal['JobTitle'].value_counts().head(5)

Transit Operator    3366
TRANSIT OPERATOR    2388
Registered Nurse    2333
Police Officer 3    1574
Special Nurse       1563
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [202]:
sum(sal[sal['Year'] == 2013]['JobTitle'].value_counts() == 1)

182

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [174]:
sal[sal['JobTitle'].str.contains('Chief')].count()['Id']

264

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [203]:
sal['JobTitleLen'] = sal['JobTitle'].str.len()
sal[['JobTitleLen', 'TotalPayBenefits']].corr()

                  JobTitleLen  TotalPayBenefits
JobTitleLen          1.000000         -0.051951
TotalPayBenefits    -0.051951          1.000000

# Great Job!