## Class
## 20180724
## Sungjae Lee

In [24]:
# Ex1

class FourCal():
    
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
    
    def sum(self):
        return self.num1 + self.num2
    
    def mul(self):
        if self.num1 > self.num2:
            return self.num1
        else:
            return self.num2
    
    def sub(self):
        return self.num1 - self.num2
    
    def div(self):
        return self.num1 / self.num2

In [25]:
aaa = FourCal(1, 2)

# aaa = FourCal(1,2)

In [26]:
aaa.sum()

3

In [27]:
aaa.mul()

2

In [28]:
aaa.sub()

-1

In [29]:
aaa.div()

0.5

In [43]:
# Ex2

class FourCal:
    
    third = 10
    
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2

    def sum1(self):
        return self.num1 + self.num2

    def sum2(self, num1, num2):
        return num1 + num2

    def sum3(self, num1):
        return self.third + num1
        

# 클래스변수 - 클래스 내 값 공유, 인스턴스 간 값 공유

# 3종류의 덧셈 함수를 가진 클래스를 만드시오

In [44]:
aaa = FourCal(1,2)

In [45]:
aaa.sum1()

3

In [46]:
aaa.sum2(2,4)

6

In [47]:
aaa.sum3(2)

12

In [83]:
# Ex3
    
# 클래스를 완성하시오
    
class HousePark:
    
    lastname = '박'
    other = '순이'    
    
    def __init__(self, myname):
        self.my_allname = self.lastname + myname
    
    def travel(self, location):
        print('{}, 부산 여행을 가다'.format(self.my_allname))
        
    def love(self, lover):
        print('{}. {} 사랑에 빠졌네'.format(self.my_allname, lover))
            
    def fight(self):
        print('{}, {} 싸우네'.format(self.my_allname, self.other))

In [84]:
aaa = HousePark('민호')

In [85]:
aaa.travel('부산')

박민호, 부산 여행을 가다

In [86]:
aaa.love('영희')

박민호. 영희 사랑에 빠졌네

In [87]:
aaa.fight()

박민호, 순이 싸우네